* {
    fx_white: #f2f2f2;
    fx_grey: #2b2b2b;
    fx_lightGrey: #36393f;
    fx_rightMenu: #9bc4bc;
    fx_veryDarkBlue: #36393f;
    fx_lightBlack: #202225;
    fx_text_white: #f2f2f2;
}

/*font configuration*/
@font-face {
    font-family: vazir;
    src: url('fonts/vazir.ttf');
}

.menuItem_name{
    -fx-font-family: 'vazir';
    -fx-font-size: 17;
    -fx-text-fill: fx_text_white;
}


/*icons has this atrribute in common*/
.menuItem_icon{
    -fx-background-color: fx_text_white;
}


/*CBSCard */
.cbsCard{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 20;
}
.cbsListItem_lblNum{
    -fx-background-color: fx_lightBlack;
    -fx-text-fill: fx_text_white;
}

.cbsListItem_lblName{
    -fx-text-fill: fx_text_white;
}

.cbsListItem_lblPrice{
    -fx-text-fill: fx_text_white;
}



.pricesLayout_addCardTbs{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 20;
}


/*TBSCard */
.tbsCard{
    -fx-background-color: #202225;
    -fx-background-radius: 20;
}
.tbsCard_lblName{
    -fx-font-size: 18;
    -fx-text-fill: fx_text_white;
}
.tbsCard_lblPrice{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: fx_text_white;
}
.tbsCard_line{
    -fx-background-color: fx_text_white;
}



/*MainPanel MainPane*/
.mainPanel_mainPane{
    -fx-background-color: fx_veryDarkBlue;
}



/*ToolBar */
.toolbar{
    -fx-background-color: fx_grey;
}
.toolbar_miniToolbar{
    -fx-background-color: fx_lightGrey;
    -fx-font-size: 18;
}



/*RightMenu SelectEffect pane of RightMenu stackpane*/
.selectEffect{
    -fx-background-color: fx_grey;
}