* {

    /*colors*/
    fx_primary: #3599c4;
    fx_primaryDark: #2b7da1;
    fx_white: #f2f2f2;
    fx_grey: #2b2b32;
    fx_lightGrey: #36393f;
    fx_rightMenu: #9bc4bc;
    fx_veryDarkBlue: #36393f;
    fx_lightBlack: #202225;
    fx_text_white: #f2f2f2;
    fx_transparent : #ffffff00;
    fx_red : #ad2e2e;

    /* others */
    fx_shadow : dropshadow(three-pass-box, black, 15, 0, 0, 0);
    fx_shadow_hover : dropshadow(three-pass-box, black, 20, 0, 0, 0);


}

/*font configuration*/
@font-face {
    font-family: vazir;
    src: url('fonts/vazir.ttf');
}

.menuItem_name{
    
    -fx-font-size: 17;
    -fx-text-fill: fx_text_white;
}


.plusIcon{
    -fx-background-color: fx_primary;
}


/*icons has this atrribute in common*/
.menuItem_icon{
    -fx-background-color: fx_text_white;
}

/*CBSCard */
.cbsCard{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
    -fx-effect: fx_shadow
}

.cbsCard:hover{
    -fx-effect: fx_shadow_hover
}

.cbsCard_cbsToolbar{
    -fx-background-color: transparent;
}
.cbsCard_searchBar{
    -fx-border-radius: 10;
    -fx-background-color: fx_transparent;
    -fx-border-color: fx_primary;
    -fx-border-width: 1 ;
    -fx-effect: dropshadow(three-pass-box, fx_lightBlack, 2, 0, 0, 5);
}
.cbsCard_txtSearch{
    -fx-background-color: transparent;
    -fx-text-fill: fx_text_white;
}
.searchIcon{
    -fx-background-color: fx_primaryDark;
}

.editIcon{
    -fx-background-color: fx_primaryDark;
}


.cbsListItemColored{
    -fx-background-color: #34393f; 
}
.recyclebinIcon{
    -fx-background-color: fx_red;
}

.cbsListItem_lblNum{
    -fx-background-color: transparent;
    -fx-text-fill: fx_text_white;
}

.cbsListItem_lblName{
    -fx-text-fill: fx_text_white;
}

.cbsListItem_lblPrice{
    -fx-text-fill: fx_text_white;
}

/*CBSList scrollBar*/
.cbsCard_scrollPane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.cbsCard_scrollPane .scroll-bar:horizontal,
.cbsCard_scrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
/* The increment and decrement button CSS class of scrollbar */
.cbsCard_scrollPane .scroll-bar:vertical .increment-button ,
.cbsCard_scrollPane .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0 0 0 0;
}
.cbsCard_scrollPane  .scroll-bar .increment-arrow,
.cbsCard_scrollPane  .scroll-bar .decrement-arrow
{
	-fx-shape: " ";	
	-fx-padding:0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.cbsCard_scrollPane .scroll-bar:horizontal .thumb,
.cbsCard_scrollPane  .scroll-bar:vertical .thumb {
    -fx-background-color: fx_veryDarkBlue;
}


.pricesLayout_addCardTbs{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
    -fx-effect: fx_shadow;
}

.pricesLayout_addCardTbs:hover{
    -fx-effect: fx_shadow_hover;
}


/*TBSCard */
.tbsCard{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
    -fx-effect: fx_shadow;
}

.tbsCard:hover{
    -fx-effect: fx_shadow_hover;
}

.tbsCard_lblName{
    -fx-font-size: 18;
    -fx-text-fill: fx_text_white;
}
.tbsCard_lblPrice{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: fx_text_white;
}
.tbsCard_line{
    -fx-background-color: fx_primary;
}



/*MainPanel MainPane*/
.mainPanel_mainPane{
    -fx-background-color: fx_veryDarkBlue;
}



/*ToolBar */
.toolbar{
    -fx-background-color: fx_primary;
}
.toolbar_miniToolbar{
    -fx-background-color: fx_primaryDark;
    -fx-font-size: 18;
}



/*RightMenu SelectEffect pane of RightMenu stackpane*/
.selectEffect{
    -fx-background-color: fx_grey;
}


/*Dialog*/
.dialog{
    -fx-background-color: fx_lightBlack;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-effect: fx_shadow;
}

.dialogText{
    -fx-text-fill: fx_text_white;
}

.textField {
    -fx-border-color: fx_primary ;
    -fx-text-fill: fx_text_white;
    -fx-border-width: 1 ;
    -fx-border-radius: 10;
    -fx-background-color: fx_transparent;
}

.flatButton{
     -fx-background-color: fx_transparent;
     -fx-text-fill: fx_primary;
     -fx-padding : 0 10 5 10;
}

.flatButtonDelete{
     -fx-background-color: fx_transparent;
     -fx-text-fill: fx_red;
     -fx-padding : 0 10 5 10;
}

.textError{
     -fx-text-fill: fx_red;
}



.newCustomerPane_addNewCustomer{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
}
.newCustomerPane_lblPhoneNumber{
    -fx-text-fill: fx_text_white;
    
        -fx-font-size: 13;
}
.newCustomerPane_lblName{
    -fx-text-fill: fx_text_white;
    
    -fx-font-size: 13;
}
.title{
    
    -fx-font-size: 18;
    -fx-text-fill: fx_text_white;
}

.customerLayout_titledPane{
    -fx-text-fill: fx_text_white;
    
    -fx-effect: fx_shadow;
}

.customerLayout_titledPane > *.content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2;
}
.customerLayout_titledPane > .title{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
}

.customerLayout_titledPane > .title > .arrow-button .arrow{
    -fx-shape: "M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69 C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69 s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z";
    -fx-effect: fx_remove_shadow;
    -fx-pref-height: 24;
    -fx-pref-width: 24;
    -fx-background-color: fx_primary;
    -fx-border-weight:0;
}

.customerLayout_searchBar{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-weight: 2;
    -fx-border-color: fx_primary;
    -fx-border-radius: 15;
}
.customerLayout_searchIcon{
    -fx-background-color: fx_primary;
}
.customerLayout_txtSearch{
    -fx-background-color: transparent;
    -fx-text-fill: fx_text_white;
    -fx-font-size: 20;
    
}

/*customerLayout_cardsFlowScroll style*/
.customerLayout_cardsFlowScroll{
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.customerLayout_cardsFlowScroll .scroll-bar:horizontal,
.customerLayout_cardsFlowScroll  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
/* The increment and decrement button CSS class of scrollbar */
.customerLayout_cardsFlowScroll .scroll-bar:vertical .increment-button ,
.customerLayout_cardsFlowScroll .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0 0 0 0;
}
.customerLayout_cardsFlowScroll  .scroll-bar .increment-arrow,
.customerLayout_cardsFlowScroll  .scroll-bar .decrement-arrow
{
	-fx-shape: " ";
	-fx-padding:0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.customerLayout_cardsFlowScroll .scroll-bar:horizontal .thumb,
.customerLayout_cardsFlowScroll  .scroll-bar:vertical .thumb {
    -fx-background-color: fx_veryDarkBlue;
}





/*CustomerCard*/
.customerCard{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 20;
}
.customerCard_goodAccCustomer{
    -fx-background-color: fx_primary;
    -fx-background-radius: 20 20 0 0;
}
.customerCard_lblName{
    
    -fx-text-fill: fx_text_white;
    -fx-font-size: 15;
}
.customerCard_lblPhoneNumber{
    
    -fx-text-fill: fx_text_white;
    -fx-font-size: 14;
}
.customerCard_lblCredit{
    
    -fx-text-fill: fx_text_white;
    -fx-font-size: 20;
}

.customerCard_lblgameTags{
    -fx-background-color: fx_primaryDark;
    -fx-background-radius: 3;
    -fx-text-fill: fx_text_white;
    -fx-font-size: 13;
    -fx-padding: 2 3 2 3;
}
.customerCard_gameTagsScroll{
    -fx-background: transparent;
    -fx-background-color: transparent;
}




.preLoader{
    -fx-background-color: fx_lightBlack;
}

.progressbar_background{
    -fx-background-color: fx_lightGrey;
    -fx-background-radius: 3;
}


.progressbar_self{
    -fx-background-color: fx_primary;
    -fx-background-radius: 3;
}

.invisible{
    -fx-background-color: fx_lightGrey;
}


/*report */
.reportCard{
    -fx-background-color: fx_lightBlack;
    -fx-background-radius: 10;
    -fx-effect: fx_shadow;
    -fx-padding: 20 20 20 20;
}

.reportCard:hover{
    -fx-effect: fx_shadow_hover;
}

/*CBSList scrollBar*/
.report_scrollPane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.report_scrollPane .scroll-bar:horizontal,
.report_scrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
/* The increment and decrement button CSS class of scrollbar */
.report_scrollPane .scroll-bar:vertical .increment-button ,
.report_scrollPane .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0 0 0 0;
}
.report_scrollPane  .scroll-bar .increment-arrow,
.report_scrollPane  .scroll-bar .decrement-arrow
{
	-fx-shape: " ";
	-fx-padding:0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.report_scrollPane .scroll-bar:horizontal .thumb,
.report_scrollPane  .scroll-bar:vertical .thumb {
    -fx-background-color: fx_lightBlack;
}

.close_icon{
    -fx-background-color: fx_red;
}

.radio-button .radio {
    -fx-background-insets: 0;
}