* {

    /*colors*/
    fx_primary: #3599c4;
    fx_primaryDark: #2b7da1;
    fx_white: #f2f2f2;
    fx_grey: #2b2b32;
    fx_lightGrey: #36393f;
    fx_rightMenu: #9bc4bc;
    fx_veryDarkBlue: #36393f;
    fx_lightBlack: #202225;
    fx_text_white: #f2f2f2;
    fx_transparent : #ffffff00;
    fx_red : #cc2323;
    fx_very_red : #ff0000;

}