
/*          text             */


.text-field {
 -fx-font-family: 'vazir';
}

.label{
 -fx-font-family: 'vazir';
}
.text{
    -fx-font-smoothing-type: gray;
}


/*          charts           */

.chart-title {
  -fx-text-fill: fx_white;
  -fx-font-size: 1.6em;
}

.chart-plot-background {
    -fx-background-color: fx_transparent;
    -fx-text-fill: fx_white;
}
.chart-legend {
   -fx-background-color: fx_transparent;
   -fx-padding: 20px;
   -fx-text-fill: fx_white;
}

.chart-legend-item{
    -fx-text-fill: fx_white;
}

.chart-pie-label-line {
    -fx-stroke: fx_white;
    -fx-fill: fx_white;
}

.chart-pie-label {
    -fx-fill: fx_white;
    -fx-font-size: 1em;
}


.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: fx_white;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
.axis-label {
   -fx-text-fill: fx_white;
}

.default-color0.chart-series-area-fill {
    -fx-fill: fx_primary;
    -fx-blend-mode: difference;
    -fx-text-fill: fx_white;
}

.chart-vertical-grid-lines {
    -fx-stroke: #55555555;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #55555555;
}