# standard
.gradle/
build/
.idea/
out/
bin/
src/main/resources/raw/sign.sig
src/main/resources/raw/publicKey.key
KeyGenarator/privateKey.key
KeyGenarator/KeyGenerator.class



# our project
gnm.db

# ali
analyze.py

# mohammad
.project
