
body{
    background-color: #555;
}


.leftSidePanel{
    background-color: rgb(39, 39, 39);
    width: 5%;
    height: 100%;
}

.leftSidePart{
    background-color: rgb(66, 66, 66);
    width: 40%;
    height: 100%;
}

.main{
    background-color: rgb(39, 39, 39);
    width: 60%;
    height: 100%;
}

table{
    width:100%;
    height:100%
}